<div class="About-main" id="aboutSection">
  <div Class="About">
    <div class="Intro">Hi I am Balaji Shelke
    </div>
    <div class="overview">overview.</div>
    <div class="info">
      A Frontend Developer. I Help Startups Launch And Grow Their Products
      i am a software Developer with more than Two years of experience. recognized as a practical 
      and effective developer, experienced in leading cross-functional teams in a time-pressured 
      setting to complete projects on schedule and within budget.
    </div>
    <div class="overview">TOOLING.</div>
    <div class="info">Figma
      Angular 
      Javascript
      typscript
      nodeJs
      MongoDB</div>
    <!-- <div class="About-cards">
      <div class="card" *ngFor="let item of cardData; let i = index" [ngClass]="['animate-card']">
        <div class="card_icons">
          <img [src]="item.imgSrc" alt="Frontend Image" />
        </div>
        <div class="card_text">
          <p>{{ item.Text }}</p>
        </div>
      </div>
    </div> -->
  </div>
</div>


